*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #333;
  color: #fff;
  line-height: 1.6;
}

.container{
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.slide{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  transition: opacity .4s ease-in-out;
}

.slide.current{
  opacity: 1;
}

/* slide content */
.slide .slide-content{
  position: absolute;
  bottom: 0;
  left: -500px;
  opacity: 0;
  width: 500px;
  padding: 30px;
  color: #333;
  background: rgba(255, 255, 255, .5);
}

.slide.current .slide-content{
  opacity: 1;
  transform: translateX(500px);
  transition: all 1s ease-in-out;
}

/* button */
.buttons #prev{
  position: absolute;
  top: 50%;
  left: 15px;
}

.buttons #next{
  position: absolute;
  top: 50%;
  right: 15px;
}

button{
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px 12px;
  outline: none;
}

button:hover{
  color: black;
  border-color: black;
  transition: .5s ease-in-out;
}

/* background images */
.slide:first-child{
  background: url('./images/1.jpg') no-repeat center center/cover;
}

.slide:nth-child(2){
  background: url('./images/2.jpg') no-repeat center center/cover;
}

.slide:nth-child(3){
  background: url('./images/3.jpg') no-repeat center center/cover;
}

.slide:nth-child(4){
  background: url('./images/4.jpg') no-repeat center center/cover;
}

.slide:nth-child(5){
  background: url('./images/5.jpg') no-repeat center center/cover;
}

.slide:last-child{
  background: url('./images/6.jpg') no-repeat center center/cover;
}
